@charset "utf-8";
body	{ margin:0px auto; padding:0px; text-align:center; font-size:12px; font-family:Tahoma,arial,verdana,Georgia,'微软雅黑';}
div		{ margin:0px auto; padding:0px; line-height:20px; font-size:12px; font-family:Tahoma,arial,verdana,Georgia,'宋体';white-space:normal;word-wrap: break-word;word-break:break-all;}
img		{ border:0px;}
form	{ display:inline;}
input,select,textarea	{ font-size:12px;padding-top:3px;}
ul,li {margin:0px;padding:0px;list-style-type:none;}
dl,dt,dd {margin:0px auto; padding:0px;}
h1,h2,h3,h4,h5,h6	{margin:0px; padding:0px;}

body	{ background:#F6F7FB; margin:0px;padding:0px;font-size:12px;font-family:"Arial","微软雅黑";}
div		{ margin-top:auto; margin-left:auto; margin-right:auto; margin-bottom:auto;font-family:"Arial","微软雅黑"; color:#000000; }
div,p,dl,dt,dd,ul,li,span,b,i,em,u {margin:0px auto;padding:0px;}
i,em {font-style: normal;}
u {text-decoration: none;}


/*
link:连接平常的状态  
visited:连接被访问过之后   
active:连接被按下的时候 
hover:鼠标放到连接上的时候
*/
a			{}
a:link		{color:#3165FF;text-decoration: none;}
a:visited	{color:#3165FF;text-decoration: none;}
a:hover		{color:#FF0000;text-decoration: underline;}
a:active	{color:#FF0000;text-decoration: underline;}

.fl	{float:left;}
.fr	{float:right;}
.fc	{clear:both;font-size:0px;overflow: hidden;height:0px;line-height:0px;}
.fb	{font-weight:bold;}
.cb	{color:blue;}
.cr	{color:#FF0000;}
.cg	{color:#008000;}
.c3	{color:#333;}
.c6	{color:#666;}
.c8	{color:#888;}
.c9	{color:#999;}
.cc	{color:#CCC;}
.cf	{color:#FFF;}
.tl	{text-align:left;}
.tr	{text-align:right;}
.tc	{text-align:center;}
.br1	{border:1px solid #FF0000;}
.br5	{border:5px solid #FF0000;}
.bg8	{background:#888;}
.bgf	{background:#fff;}
.di	{display:inline;}
.db	{display:block;}
.dn	{display:none;}
.cp	{cursor:pointer;}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/* Hide from IE Mac \*/ 
.clearfix { display:block; }
/* End hide from IE Mac */

.f9,.f10,.f11,.f12,.f14,.f14L,.L12,.L15,.L18	{font-size:12px;}
.f9		{font-size:9px; }
.f10	{font-size:10px; }
.f11	{font-size:11px; }
.f12	{font-size:12px; }
.f14	{font-size:14px; }
.f14L	{font-size: 14.8px; line-height:25px;}
.f16	{font-size:16px; }
.f17	{font-size:17px; }
.f18	{font-size:18px; }
.L12	{line-height:120%;}
.L15	{line-height:150%;}
.L18	{line-height:180%;}

.w60	{width:60px;}
.w80	{width:80px;}
.w100	{width:100px;}
.w120	{width:120px;}
.w150	{width:150px;}
.w180	{width:180px;}
.w200	{width:200px;}
.w300	{width:300px;}

.Space1,.Space2,.Space3,.Space5,.Space8,.Space10,.Space12,.Space15,.Space18	{clear:both;font-size:0px;overflow: hidden;margin:0px;}
.Space1		{height:1px;}
.Space2		{height:2px;}
.Space3		{height:3px;}
.Space5		{height:5px;}
.Space8		{height:8px;}
.Space10	{height:10px;}
.Space12	{height:12px;}
.Space15	{height:15px;}
.Space18	{height:18px;}

.mg1	{margin:1px;}
.mg2	{margin:2px;}
.mg3	{margin:3px;}
.mg5	{margin:5px;}
.mg8	{margin:8px;}
.mg10	{margin:10px;}
.mg12	{margin:12px;}
.mg15	{margin:15px;}
.mg18	{margin:18px;}

.pg1	{padding:1px;}
.pg2	{padding:2px;}
.pg3	{padding:3px;}
.pg5	{padding:5px;}
.pg8	{padding:8px;}
.pg10	{padding:10px;}
.pg12	{padding:12px;}
.pg15	{padding:15px;}
.pg18	{padding:18px;}


a.nn			{}
a.nn:link		{text-decoration: none;}
a.nn:visited	{text-decoration: none;}
a.nn:hover		{text-decoration: none;}
a.nn:active		{text-decoration: none;}

a.nu			{}
a.nu:link		{text-decoration: none;}
a.nu:visited	{text-decoration: none;}
a.nu:hover		{text-decoration: underline;}
a.nu:active		{text-decoration: underline;}

a.un			{}
a.un:link		{text-decoration: underline;}
a.un:visited	{text-decoration: underline;}
a.un:hover		{text-decoration: none;}
a.un:active		{text-decoration: none;}

a.blue			{}
a.blue:link		{color: #0000CC;}
a.blue:visited	{color: #0000CC;}
a.blue:hover	{color: #0000CC;}
a.blue:active	{color: #0000CC;}

a.red			{}
a.red:link		{color: #FF0000;}
a.red:visited	{color: #FF0000;}
a.red:hover		{color: #FF0000;}
a.red:active	{color: #FF0000;}

a.hei			{}
a.hei:link		{color: #000000;}
a.hei:visited	{color: #000000;}
a.hei:hover		{color: #000000;}
a.hei:active	{color: #000000;}

a.lv			{}
a.lv:link		{color: #008000;}
a.lv:visited	{color: #008000;}
a.lv:hover		{color: #008000;}
a.lv:active		{color: #008000;}

/*-- Tip样式 开始 --*/
a.tip{
	color:#FF0000;
	margin:0 auto;
	text-decoration:none;
	position:relative;
	z-index:1000;
}
a.tip span {display:none;cursor:pointer;}
a.tip:hover {cursor:pointer;}
a.tip:hover span {
/*
    display:block;
    width1:100%;
    color:#000;
	border:1px solid #888;
    background-color:#fff;
    text-align:left;
    margin-top:1px;
    position:absolute;
    z-index:200;
    filter:alpha(opacity=100);
    -moz-opacity:.9;
    opacity:.9;
*/
	display:block; 
	position:absolute; 
	top:15px;
	left:0px;
	border:1px solid #666;
	background-color:#eee; 
	color:#000;  
	padding:2px 3px;
	z-index:90;
}
/*-- Tip样式 结束 --*/

/*-- 表格样式 开始 --*/
.TB			{border:1px solid #CECFCE;}
.TT			{height:25px;background:#F2F2F2;text-align:center;font-weight: bold;padding:3px;font-size:14px;}
.TL_Out		{height:25px;background:#FFFFFF;text-align:center;padding:5px;}
.TL_Over	{height:25px;background:#FFFFAF;text-align:center;padding:5px;}
.TLine		{height:1px;background:#EFEFEF;}
/*-- 表格样式 结束 --*/



/*--	以下为驾考资讯专用	--*/

select {padding:1px;font-size:12px;margin:0 5px 0 0;}

.fcc:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.fcc { display:inline-block; }
/* Hide from IE Mac \*/ 
.fcc { display:block; }
/* End hide from IE Mac */
.fst	{font-family:宋体;}

#Header {width:960px;margin:0 auto;padding:0;}
#Header span {width:320px;float:left;display:block;text-align:left;}
#Header div {float:left;display:block;}

#Footer {width:960px;margin:8px auto;padding:0;color:#777777;border-top:2px solid #DDDDDD;padding-top:8px;}
#Footer span {width:660px;float:left;display:block;text-align:left;}
#Footer div {float:right;display:block;}

#Footer span a	{color:#777777;text-decoration: none;}
#Footer span a.link	{color:#777777; text-decoration: none;}
#Footer span a:hover	{color:#777777; text-decoration: none;}

.Menu {width:960px;margin:2px auto;margin-bottom:8px;padding:5px 0 3px 0;text-align:left;background:#019DE9;color:#FFFFFF;border:2px solid #019DE9;border-radius:3px; /*圆角*/}
.Menu a	{color:#FFFFFF;padding:0px 11px 0 13px;margin:0;text-decoration: none;font-size:14px;text-align:center;background:url('/pic/nav_bg.gif') left no-repeat;}
.Menu a.link	{color:#FFFFFF; text-decoration: none;}
.Menu a:hover	{color:#FFFFCC; text-decoration: underline;}
.Menu .first	{margin-left:3px;background:url('');}



/*----------------------------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\////////////////////////////////////////////////----------------------------------------*/


a		{color:#555; text-decoration: none;}
a:link		{color:#555;text-decoration: none;}
a:visited	{color:#555;text-decoration: none;}
a:hover		{color:#1C998B;text-decoration: underline;}
a:active	{color:#1C998B;text-decoration: underline;}
/*
link:连接平常的状态  
visited:连接被访问过之后   
active:连接被按下的时候 
hover:鼠标放到连接上的时候
*/

a.bu		{color:#2D96E9; text-decoration: none;}
a.bu:link		{color:#2D96E9;text-decoration: none;}
a.bu:visited	{color:#2D96E9;text-decoration: none;}
a.bu:hover		{color:#2D96E9;text-decoration: underline;}
a.bu:active	{color:#2D96E9;text-decoration: underline;}


.fcc:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.fcc { display:inline-block; }
/* Hide from IE Mac \*/ 
.fcc { display:block; }
/* End hide from IE Mac */



.btnA,.btnB,.btnC,a.btnA,a.btnB,a.btnC,a.btnD,a.btnE,a.btnF,a.btnG,a.btnH {color:#FFFFFF;padding:5px 9px;font-family:"微软雅黑";font-size:14px;text-decoration:none;cursor:pointer;}
.btnA,a.btnA {background:#FF6000;}
.btnB,a.btnB {background:#3EBA30;}
.btnC,a.btnC {background:#00ACFF;}
.btnD,a.btnD {background:#FF5772;}
.btnE,a.btnE {background:#00BBAB;}
.btnF,a.btnF {background:#A47AC0;}
.btnG,a.btnG {background:#FF8095;}
.btnH,a.btnH {background:#20D7A9;}



.mBox	{display:block;margin:0 auto;width:1230px;}
.mBoxL	{display:block;margin:0;padding:0;float:left;width:900px;}
.mBoxR	{display:block;margin:0;padding:0;float:right;width:330px;}

.Box	{border:1px solid #CCE6F1;}
.MainBox {width:100%;margin:0 auto 30px auto;width:1230px;}

/*
.MainBox h1 {margin:0;padding:0 10px;}
.MainBox h1 a {display:block;color:#555;font-size:21px;font-weight:100;text-align:left;margin:0;padding:0 0 15px 0;text-decoration: none;}
*/

.MainL {display:block;float:left;width:890px;margin:0 0 0 10px;padding:0;background1:#FF2200;}
.MainR {display:block;float:right;width:300px;margin:0 10px 0 20px;padding:0;background1:#FFCC00;}

.headline {display:block;border-bottom:3px solid #EEE;margin:10px 0 0 0;}
/*---- header begin ----*/
.head {padding:0;margin:5px auto 0 auto;}
.headL {float:right;}
.headR {float:left;text-align:left;margin-left:10px;padding:0;}
.headR a {display:block;float:left;}
.headR strong {display:block;float:left;color:#555;padding:0;margin:15px 0 0 5px;font-weight:100;}
.headR strong a {color:#555;text-decoration: none;padding:10px 0px 0px 8px;font-size:21px;}

.headL	{float:right;padding:26px 5px 0px 8px;margin:0;text-align:right;color:#D9D9D9;}
.headL a {padding:0px 8px;font-size:15px;}

.Nav {display:block;margin:10px 0 0 0;padding:0;background:#00A287;background:#2EB6A8;}
.Nav div {width:1200px;margin:0 auto;padding:0;}
.Nav div a {display:block;float:left;color:#FFF;text-decoration: none;line-height:22px;font-size:15px;padding:12px 16px;}
.Nav div a:hover,.Nav div a.h {background:#21A193;}
.Nav div div.UC {display:block;width:170px;margin:0;padding:0;float:right;background:#21A193;}
.Nav div div.UC p.l i {color:#FFF;font-size:16px;margin-right:15px;}
.Nav div div.UC p.l a {display:inline-block;float:none;font-size:13px;}
.Nav div div.UC p.l a:hover {text-decoration: underline;}
.Nav div div.UC p.l u {color:#FFF;}
.Nav div div.UC dl {display:block;position:relative;z-index:999;height:45px;}
.Nav div div.UC dl dt {display:block;width:40px;float:left;}
.Nav div div.UC dl dt i {color:#AAA;width:26px;height:26px;font-size:22px;border-radius:50%;background:#FFF;padding:5px 3px 1px 3px;margin:7px 0 0 7px;}
.Nav div div.UC dl dt i.p {background:#21A193;border-radius:0;}
.Nav div div.UC dl dt i.p a {display:inline-block;float:none;margin:0;padding:0;}
.Nav div div.UC dl dt i.p a img {max-height:26px;border-radius:50%;border:2px solid #EEE;margin:7px 0 0 0;}
.Nav div div.UC dl dd.ui {float:left;margin:4px 0px 0 11px;color:#FFF;}
.Nav div div.UC dl dd.ui a {display:inline-block;float:none;font-size:13px;margin:0;padding:0;width:70px;white-space:nowrap;overflow: hidden;text-align:left;font-size:12px;}
.Nav div div.UC dl dd.ui a:hover {text-decoration: underline;}
.Nav div div.UC dl dd.ui a.t {width:30px;margin-left:7px;}
.Nav div div.UC dl dd.ui a.i {display:block;width:100px;margin-top:-3px;font-size:12px;text-decoration:none;}
.Nav div div.UC dl dd.ui a.i i {font-size:17px;margin-left:5px;}
.Nav div div.UC dl dd.menu {float:none;position:absolute;z-index:888;top:44px;display:block;background:#FFF;width:166px;height:200px;display:none;border:2px solid #21A193;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.Nav div div.UC dl:hover dd.menu {display:block;}

/*删除下面这段 就是显示菜单*/
.Nav div div.UC dl dd.ui {margin:14px 0px 0 11px;}
.Nav div div.UC dl dd.ui a.i {display:none;}
.Nav div div.UC dl:hover dd.menu {display:none;}
/*删除上面这段 就是显示菜单*/
/*---- header end ----*/

/*---- footer begin ----*/
.footerBox { background:#474E5D; margin:30px 0 0 0; padding:30px 0px; color:#B3B5BA;font-size:15px;}
.footerBox a {color:#CED0D4;}
.footerBox a:hover {color:#FFF;}
/*---- footer end ----*/

.backTop {display:block;display:none;width:50px;height:50px;position:fixed;right:2%;bottom:5%;cursor:pointer;opacity: 0.3;background:#FCFCFC url("/PIC/backtop.png") no-repeat left center;}
.backTop:hover {opacity: 0.5;}


.bdshare {border:1px solid #DDDDDD;padding:15px 15px;background:#FFF;height:35px;white-space:nowrap;overflow:hidden;}

dl.mbx {margin:20px auto;padding:0 15px;}
dl.mbx dt {width:70%;float:left;text-align:left;font-size:15px;}
dl.mbx dt a {}
dl.mbx dt i {margin-left:50px;color:#AAA;}
dl.mbx dt u {margin:0 7px;color:#999;font-family:"宋体";}
dl.mbx dd {width:28%;float:right;text-align:right;font-size:11px;color:#999;}

div.ADV {display:block;width:100%;text-align:center;white-space:nowrap;overflow:hidden;margin:20px auto;}






.YXL_Mask_Tip {display:block;width:100%;height:100%;display:none;position:fixed;top:0;right:auto;left:0;bottom:auto;margin:0 auto;z-index:9999999;font-weight:100;text-align:center;}
.YXL_Mask_Tip p {position:fixed;top:50%;left:50%;width:220px;height:22px;margin-top:-66px;margin-left:-130px;display:inline;border-radius:5px;background: rgba(0, 0, 0, 0.5);text-align:center;padding:20px;	color:#222;font-size:15px;color:#FFF;font-weight:100;line-height:22px;font-family:"Microsoft YaHei",Arial;}

.YXL_Mask {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(200,200,200,0.1);z-index:9999;}
.YXL_Mask_b {background:rgba(0,0,0,0.5);}
.YXL_MaskCnt {position:fixed;top:50%;left:50%;width:500px;height:500px;margin-top:-250px;margin-left:-250px;z-index:99999;border:5px solid #DDDDDD;border-radius:5px;background:#FFF;box-shadow: 3px 3px 3px #C0C0C0;}
.YXL_MaskCnt p.tit {display:block;margin:0;height:20px;line-height:22px;overflow:hidden;padding:12px 60px 0 15px;text-align:left;font-size:15px;color:#333;}
.YXL_MaskCnt p.tit i {cursor:pointer;position:absolute;background:rgba(0,0,0,0.5);color:#FFF;display:block;width:36px;height:29px;right:10px;top:-5px;margin:0;padding:0;border-bottom-left-radius:50%;border-bottom-right-radius:50%;font-family:"arial";font-size:17px;padding-top:10px;text-align:center;font-weight:100;}
.YXL_MaskCnt p.tit i:hover {background:rgba(0,0,0,0.7);}
.YXL_MaskCnt dl {display:block;margin:0 0 0 0;height:calc(100% - 36px);}
.YXL_MaskCnt dl dt {display:block;height:35px;border-top:1px solid #E5E5E5;padding-top:15px;text-align:center;}
.YXL_MaskCnt dl dd {display:block;height:calc(100% - 65px);padding:5px 10px 10px 10px;}
.YXL_MaskCnt dl.h {}
.YXL_MaskCnt dl.h dt {display:none;}
.YXL_MaskCnt dl.h dd {height:calc(100% - 20px);}
.YXL_MaskCnt dl.ch {height:100%}
.YXL_MaskCnt dl dt a {color:#FFF;text-decoration: none;cursor:pointer;margin:0 20px;padding:7px 29px;font-size:14px;}
.YXL_MaskCnt dl dt a.mtA {background:#FC7318;}
.YXL_MaskCnt dl dt a.mtA:hover {background:#FF6600;}
.YXL_MaskCnt dl dt a.mtB {background:#AAAAAA;}
.YXL_MaskCnt dl dt a.mtB:hover {background:#A0A0A0;}
.YXL_MaskCnt dl dt a.mtC {background:#00C3B6;}
.YXL_MaskCnt dl dt a.mtC:hover {background:#00B5A9;}
.YXL_MaskCnt dl dt a.mtD {background:#1DA40E;}
.YXL_MaskCnt dl dt a.mtD:hover {background:#118F03;}
/*可以这样定义 其中某个按钮 通过addClass改变 .YXL_MaskCnt{_X} dl dt a.mt{A/B/C} {width:95%;display:block;margin:-7px auto 0 auto;padding:9px 0;}*/

.YXL_Mask_gray {background:rgba(0,0,0,0.66);}
.YXL_MaskCnt_gray {box-shadow: 0 0 0 #FFF;border:5px solid #333;}
.YXL_MaskCnt_gray p.tit {}
.YXL_MaskCnt_gray p.tit i {display:block;position:fixed;top:30px;right:30px;border-radius:50%;border:2px solid #FFF;background:#FF2200;}
.YXL_MaskCnt_gray p.tit i:hover {background:#FF0000;}
.YXL_MaskCnt_gray dl {}
.YXL_MaskCnt_gray p.titTop {position:fixed;top:0;right:0;}



div.minBox {margin:0 0 15px 0;}
div.minBox dl {display:block;border:1px solid #D8D8D8;border-radius:5px;background:#FFF;text-align:left;}
div.minBox dl dt {display:block;border-bottom:1px solid #D8D8D8;margin:0;padding:0;}
div.minBox dl dt a,div.minBox dl dt i {display:block;border-left:2px solid #F35D5D;margin:10px 0;padding:3px 15px;font-size:17px;}
div.minBox dl dd {display:block;text-align:left;padding:15px 10px;}
div.minBox dl dd.seller table {width:100%;}
div.minBox dl dd.seller table tr td {padding:5px 0;}
div.minBox dl dd.seller table tr td.r {text-align:right;color:#777;}
div.minBox dl dd.seller a.seller {display:block;width:110px;padding:7px 0;background:#EA544A;border-radius:5px;color:#FFF;font-size:15px;margin:12px auto 0 auto;text-align:center;}
div.minBox dl dd.ListR p {display:block;width:90px;height:120px;float:left;margin:0 12px;}
div.minBox dl dd.ListR p a {margin:0;padding:0;}
div.minBox dl dd.ListR p a img {width:100%;height:60px;margin:0;}
div.minBox dl dd.ListR p span {display:block;margin:0;}
div.minBox dl dd.ListR p span a {display:block;height:17px;font-size:14px;white-space:nowrap; overflow:hidden;padding:5px 0 7px 0;}
div.minBox dl dd.ListR p span b {color:#C91523;font-weight:100;}
div.minBox dl dd.InfoR p {display:block;width:100%;height:62px;margin:0 0 10px 0;display:inline-block;}
div.minBox dl dd.InfoR p:hover {background:#FAFAFA;}
div.minBox dl dd.InfoR p a {margin:0;padding:0;width:90px;float:left;}
div.minBox dl dd.InfoR p a img {width:100%;height:60px;margin:0;}
div.minBox dl dd.InfoR p span {display:block;margin:0 0 0 7px;padding:0;width:130px;float:left;}
div.minBox dl dd.InfoR p span a {display:block;width:100%;height:17px;font-size:14px;white-space:nowrap; overflow:hidden;padding:0 0 7px 0;float:none;}
div.minBox dl dd.InfoR p span i {display:block;width:100%;height:17px;font-size:12px;white-space:nowrap; overflow:hidden;padding:0 0 3px 0;color:#999;}
div.minBox dl dd.InfoR p span b {color:#C91523;font-weight:100;}
/*list begin*/
div.listoption {border:1px solid #D8D8D8;border-radius:5px;background:#FFF;margin:0 0 15px 0;padding:0;}
div.listoption dl {text-align:left;padding:0;margin:0;border-bottom:1px solid #E9E9E9;padding:7px 12px;}
div.listoption dl dt {width:36px;float:left;font-size:12px;margin:0;padding:0 7px 0 0;font-weight:bold;}
div.listoption dl dd {width:840px;float:left;font-familyx:"宋体";}
div.listoption dl dd a {display:inline-block;padding:5px;margin:2px 17px 2px 0;height:17px;color:#555;font-familyx:"宋体";font-size:12px;}
div.listoption dl dd a:hover,div.listoption dl dd a.h {background:#EA544A;color:#FFF;text-decoration: none;}
div.listoption dl dd hr {height:1px;border:none;border:0;overflow: hidden;margin:7px auto;border-top:1px solid #E9E9E9;}

div.listoption dl dd.pcamore {}
div.listoption dl dd.pcamore div.l {float:left;margin:0 0 0 5px;width:770px;}
div.listoption dl dd.pcamore div.l i {font-familyx:"宋体";font-size:12px;color:#777;padding:0 12px 0 0;}
div.listoption dl dd.pcamore div.m {float:left;position:relative;z-index:30;}
div.listoption dl dd.pcamore div.m div.lc {display:block;overflow:hidden;width:336px;height:263px;position:absolute;z-index:50;border:1px solid #999;background:#FFF;display:none;}
div.listoption dl dd.pcamore div.m div.lc ul {}
div.listoption dl dd.pcamore div.m div.lc ul li {display:block;border-bottom:1px solid #E8E8E8;padding:5px 0;margin:0 5px;}
div.listoption dl dd.pcamore div.m div.lc ul li b {font-family:"宋体";font-size:12px;color:#777;padding:0 12 0 5px;margin:0;}
div.listoption dl dd.pcamore div.m div.lc ul li u {float:right;font-weight:bold;padding:0 5px 0 0;}
div.listoption dl dd.pcamore div.m div.lc ul li a {padding:2px;margin:0 5px;font-family:"宋体";font-size:12px;}
div.listoption dl dd.pcamore div.m a em {font-family:"宋体";}

div.listoption dl dd div.optsel {display:block;float:left;}
div.listoption dl dd div.optsel a {display:block;float:left;border:1px solid #CCC;padding:0 0 0 5px;margin:0 10px 0 0;}
div.listoption dl dd div.optsel a:hover {border:1px solid #EA544A;background:#FFF;color:#555;}
div.listoption dl dd div.optsel a i {display:block;float:right;background:url("/PIC/ico_closes.png") no-repeat 0 -20px;padding:0;margin:0;width:20px;height:20px;margin:0 0 0 5px;}
div.listoption dl dd div.optsel a:hover i {background:url("/PIC/ico_closes.png") no-repeat 0 0;}
div.listoption dl dd div.optsel a.all {padding:0 5px;}
div.listoption dl dd div.clean {float:right;}
div.listoption dl dd div.clean a {margin:0;padding:0 5px;font-family:"宋体";font-size:12px;}
div.listoption dl dd div.clean a:hover {background:#EA544A;color:#FFF;}

div.listoption dl dd.listmore {}
div.listoption dl dd.listmore div.l {float:left;}
div.listoption dl dd.listmore div.r {float:left;position:relative;z-index:30;}
div.listoption dl dd.listmore div.r div.lt {display:block;width:180px;height:366px;position:absolute;z-index:50;border:1px solid #999;background:#FFF;display:none;}
div.listoption dl dd.listmore div.r div.lt span {display:block;float:left;width:30px;height:100%;background:#FBFBFB;border-right:1px solid #E8E8E8;line-height:120%;}
div.listoption dl dd.listmore div.r div.lt span i {display:block;cursor:pointer;margin:3px 5px;padding:0;text-align:center;font-family:"arial","宋体";font-size:12px;}
div.listoption dl dd.listmore div.r div.lt span i:hover {background:#EA544A;color:#FFF;}
div.listoption dl dd.listmore div.r div.lt div.lc {display:block;float:left;width:149px;height:366px;overflow:auto;}
div.listoption dl dd.listmore div.r div.lt div.lc ul {}
div.listoption dl dd.listmore div.r div.lt div.lc ul li {display:block;border-bottom:1px solid #E8E8E8;padding:5px 0;margin:0 5px;}
div.listoption dl dd.listmore div.r div.lt div.lc ul li a {display:block;margin:0 5px;font-family:"arial","宋体";font-size:12px;}
div.listoption dl dd.price a {margin:0 12px 0 0;}

div.listcnt {display:block;border:1px solid #D8D8D8;border-radius:5px;background:#FFF;margin:0 0 15px 0;padding:0;}
div.listcnt div.listtit {border-bottom:1px solid #D8D8D8;}
div.listcnt div.listtit dl {margin:0 10px 0 5px;}
div.listcnt div.listtit dl dt {width:20%;float:right;}
div.listcnt div.listtit dl dt p {display:block;float:right;width:15px;height:14px;margin:15px 10px;}
div.listcnt div.listtit dl dt p a {display:block;width:15px;height:14px;}
div.listcnt div.listtit dl dt p.list1 a {background:url("/PIC/ico_list_m.png") no-repeat 0 -49px;}
div.listcnt div.listtit dl dt p.list1 a:hover {background:url("/PIC/ico_list_m.png") no-repeat 0 -66px;}
div.listcnt div.listtit dl dt p.list1 a.h {background:url("/PIC/ico_list_m.png") no-repeat 0 -83px;}
div.listcnt div.listtit dl dt p.list2 a {background:url("/PIC/ico_list_m.png") no-repeat 0 0;}
div.listcnt div.listtit dl dt p.list2 a:hover {background:url("/PIC/ico_list_m.png") no-repeat 0 -16px;}
div.listcnt div.listtit dl dt p.list2 a.h {background:url("/PIC/ico_list_m.png") no-repeat 0 -32px;}
div.listcnt div.listtit dl dd {width:70%;float:left;margin:0;}
div.listcnt div.listtit dl dd a {display:block;float:left;padding:12px 8px;font-size:14px;margin:0 7px -1px 7px;}
div.listcnt div.listtit dl dd a:hover {color:#EA544A;}
div.listcnt div.listtit dl dd a.h {border-bottom:2px solid #EA544A;color:#EA544A;}

div.listcnt div.listord {margin:15px;text-align:left;color:#AAA;}
div.listcnt div.listord a {font-size:12px;color:#555;padding:0 7px;}
div.listcnt div.listord a:hover {color:#EA544A;text-decoration: underline;}
div.listcnt div.listord a.b {font-weight:bold;color:#333;}
div.listcnt div.listord a u {padding:0 5px;margin:0 0 0 5px;height:16px;}
div.listcnt div.listord a.up u {background:url("/PIC/ico_list_arrow.png") no-repeat 0 -46px;}
div.listcnt div.listord a.uph u {background:url("/PIC/ico_list_arrow.png") no-repeat 0 -65px;}
div.listcnt div.listord a.uph {font-weight:bold;color:#333;}
div.listcnt div.listord a.down u {background:url("/PIC/ico_list_arrow.png") no-repeat 0 -7px;}
div.listcnt div.listord a.downh u {background:url("/PIC/ico_list_arrow.png") no-repeat 0 -26px;}
div.listcnt div.listord a.downh {font-weight:bold;color:#333;}
div.listcnt div.listord i {float:right;color:#777;}
div.listcnt div.listord i b {color:#555;font-size:13px;}
div.listcnt div.listord i a {cursor:default;font-size:11px;padding-top:2px;}
div.listcnt div.listord i a:hover {text-decoration: none;color:#555;}
div.listcnt div.listord i a.pre {background:url("/PIC/pg_left.png") no-repeat left center;padding-left:13px;cursor:pointer;text-align:right;}
div.listcnt div.listord i a.nxt {background:url("/PIC/pg_right_hover.png") no-repeat right center;padding-right:13px;cursor:pointer;text-align:left;}
div.listcnt div.listord i a b {color:#FE3333;font-weight:100;font-size:11px;}
div.listcnt div.listmain {}
div.listcnt div.listmain ul {border-bottom:1px solid #D8D8D8;}
div.listcnt div.listmain ul li {display:block;height:170px;margin:0;padding:0;border-top:1px solid #D8D8D8;}
div.listcnt div.listmain ul li:hover {background:#F9F9F9;}
div.listcnt div.listmain ul li dl {display:block;margin:20px;padding:0;}
div.listcnt div.listmain ul li dl dt {display:block;float:left;width:200px;}
div.listcnt div.listmain ul li dl dt a img {width:200px;height:130px;}
div.listcnt div.listmain ul li dl dd {display:block;float:right;width:620px;text-align:left;position:relative;z-index:10;}
div.listcnt div.listmain ul li dl dd a:hover {text-decoration: underline;}
div.listcnt div.listmain ul li dl dd h1 {display:block;font-weight:100;margin:0;padding:0;}
div.listcnt div.listmain ul li dl dd h1 a {display:block;font-size:19px;line-height:26px;}
div.listcnt div.listmain ul li dl dd h1 a:hover {text-decoration: none;}
div.listcnt div.listmain ul li dl dd h2 {display:block;font-weight:100;margin:7px 0 0 0;padding:0;font-size:14px;color:#555;line-height:22px;}
div.listcnt div.listmain ul li dl dd h2 a {}
div.listcnt div.listmain ul li dl dd h3 {display:block;width:500px;font-weight:100;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
div.listcnt div.listmain ul li dl dd h3 a {display:block;font-size:21px;line-height:22px;}
div.listcnt div.listmain ul li dl dd h3 a:hover {text-decoration: none;}
div.listcnt div.listmain ul li dl dd span {display:block;color:#999;margin:7px 0;padding:0;height:17px;}
div.listcnt div.listmain ul li dl dd span a {font-size:12px;margin:0 0 0 30px;color:#666;}
div.listcnt div.listmain ul li dl dd span img {height:17px;}
div.listcnt div.listmain ul li dl dd div {display:block;color:#555;margin:11px 0 11px 0;padding:0;font-size:14px;height:36px;line-height:17px;overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;}
div.listcnt div.listmain ul li dl dd div a {font-size:14px;color:#555;}
div.listcnt div.listmain ul li dl dd div u {font-family:"宋体";margin:0 5px;color:#999;font-size:12px;}
div.listcnt div.listmain ul li dl dd strong {position:absolute;z-index:20;right:0;top:10px;font-size:26px;color:#C91523;color:#FF3333;color:#F86120;font-weight:100;text-align:right;}
div.listcnt div.listmain ul li dl dd strong i {font-size:15px;font-weight:100;}
div.listcnt div.listmain ul li dl dd strong u {font-size:13px;font-weight:100;margin-left:5px;}
div.listcnt div.listmain ul li dl dd strong em {font-size:17px;color:#555;}
div.listcnt div.listmain ul li dl dd p {display:block;color:#333;}
div.listcnt div.listmain ul li dl dd p a {color:#333;}
div.listcnt div.listmain ul li dl dd p i {background:#0EBD94;color:#FFF;padding:5px;margin:0 7px 0 0;border-radius:3px;}
div.listcnt div.listmain ul li dl dd p i a {color:#FFF;text-decoration: none;}
div.listcnt div.listmain ul li dl dd p i a:hover {color:#FFF;text-decoration: none;}
div.listcnt div.listmain ul li dl dd p b {float:right;font-family:"arial";font-weight:100;color:#777;}
div.listcnt div.listmain ul li dl dd p b a {margin:0 7px 0 0;}
/*list end*/



/*cnt begin*/
div.JiaXiao {}
div.JiaXiao div.Intro {position:relative;}
div.JiaXiao div.Intro a.img {display:block;float:left;width:360px;height:230px;}
div.JiaXiao div.Intro a.img img {width:360px;height:230px;border:1px solid #FFF;}
div.JiaXiao div.Intro div {display:block;float:left;width:500px;height:270px;margin-left:15px;text-align:left;}
div.JiaXiao div.Intro div h3 {font-weight:100;margin:0 0 15px 0;}
div.JiaXiao div.Intro div h3 a {font-size:21px;margin:0 10px 0 0;}
div.JiaXiao div.Intro div h3 a:hover {text-decoration: none;}
div.JiaXiao div.Intro div h3 img {margin:0 0 0 5px;height:12px;}
div.JiaXiao div.Intro div h3 span.wyrz {margin:0 0 0 10px;}
div.JiaXiao div.Intro div h3 span.wyrz a {font-size:13px;}
div.JiaXiao div.Intro div p.s {display:block;margin:0 0 20px 0;font-size:13px;color:#777;}
div.JiaXiao div.Intro div p.s img {height:21px;}
div.JiaXiao div.Intro div p.s b {color:#F86120;font-size:26px;margin:0 5px 0 20px;font-weight:100;}
div.JiaXiao div.Intro div strong {display:block;font-size:26px;color:#F86120;color:#FF5500;font-weight:100;margin:0 0 15px 0;}
div.JiaXiao div.Intro div strong i {font-size:15px;font-weight:100;}
div.JiaXiao div.Intro div strong u {font-size:13px;font-weight:100;margin-left:5px;}
div.JiaXiao div.Intro div strong em {font-size:17px;color:#555;}
div.JiaXiao div.Intro div p.a {display:block;font-size:14px;color:#555;margin:0 0 12px 0;}
div.JiaXiao div.Intro div p.a img {margin-right:7px;height:12px;}
div.JiaXiao div.Intro div p.a a {font-size:12px;margin:0 0 0 7px;padding:3px;}
div.JiaXiao div.Intro div p.a a:hover {background:#2EB6A8;color:#FFF;text-decoration: none;}
div.JiaXiao div.Intro div p.f {display:block;font-size:14px;color:#555;margin:0 0 12px 0;}
div.JiaXiao div.Intro div p.f a {margin:0 3px;}
div.JiaXiao div.Intro div p.telico {font-size:22px;color:#37B9AB;color:#FF5500;line-height:120%;margin:0 0 15px 0;}
div.JiaXiao div.Intro div p.telico i {display:block;width:26px;height:26px;background:#37B9AB;background:#FF7700;border-radius:3px;float:left;margin:0 10px 0 0;}
div.JiaXiao div.Intro div p.telico i img {width:20px;height:20px;margin:3px;}
div.JiaXiao div.Intro p.telqr {display:block;position:absolute;top:0;left:0;z-index:10050;text-align:center;width:362px;height:232px;background:#FFF;font-size:16px;color:#000;display:none;}
div.JiaXiao div.Intro p.telqr img {display:block;width:150px;height:150px;margin:20px auto 20px auto;}
div.JiaXiao div.Intro div p.i {display:block;font-size:12px;color:#777;text-align:center;}
p.telqrm {position:absolute;top:0;left:0;z-index:10050;width:140px;height:170px;border:1px solid #D8D8D8;background:#FFF;display:none;margin:10px;color:#FF2200;font-size:16px;}
p.telqrm img {display:block;width:120px;height:120px;margin:10px;}

.JiaXiaoNavFloat {padding:0;position:fixed;bottom:auto;top:0;right:auto;left:auto;z-index:1000;margin:0 auto;}
div.JiaXiao div.CntNav {border:1px solid #D8D8D8;border-radius:5px;background:#FFF;margin:0px 0 15px 0;border-top:0;}
div.JiaXiao div.CntNav ul.nav {display:block;width:888px;background:#FFF;border-top:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;margin:0;padding:0;border-top-left-radius:5px;border-top-right-radius:5px;}
div.JiaXiao div.CntNav ul.nav li {display:block;float:left;margin:0;padding:0;height:42px;background:#FAFAFA;border-right:1px solid #D8D8D8;cursor:pointer;}
div.JiaXiao div.CntNav ul.nav li.l {border-top-left-radius:5px;}
div.JiaXiao div.CntNav ul.nav li.h {background:#FFF;margin-bottom:-1px;height:41px;border-top:2px solid #1C998B;}
div.JiaXiao div.CntNav ul.nav li.h a {color:#1C998B;padding:10px 17px 14px 17px;}
div.JiaXiao div.CntNav ul.nav li a {display:block;text-decoration: none;padding:12px 17px;font-size:15px;}
div.JiaXiao div.Content {display:block;line-height:220%;font-size:16px;text-align:left;color:#333;padding:22px;}
div.JiaXiao div.Content div.jxjj {display:block;line-height:220%;font-size:16px;text-align:left;color:#333;}
div.JiaXiao div.Content div.jxjj p {text-indent:2em;}
div.JiaXiao div.Content div.jxjj p.jxjj_gjc {font-size:14px;}
div.JiaXiao div.Content div.jxjj p.jxjj_gjc a {margin:0 9px 0 0;font-size:14px;}
div.JiaXiao div.Content div.jxjj p.jxjj_wz {font-size:14px;}
div.JiaXiao div.Content div.jxjj p.jxjj_wz a {  font-family: "Georgia","Garamond","微软雅黑";  font-size: 26px;}
div.JiaXiao div.Content hr {display:block;height:1px;border:0;overflow: hidden;border-top:1px solid #E9E9E9;margin:30px 0;}
div.JiaXiao div.Content hr.dot {border-top:1px dotted #E9E9E9;}
div.JiaXiao div.Content div p label {display:block;border-bottom:1px solid #E9E9E9;margin:33px 0 10px 0;padding:0;}
div.JiaXiao div.Content div p label strong {font-size:17px;font-weight:100;border:2px solid #2EB6A8;padding:5px;margin:0;text-indent:0;background:#2EB6A8;color:#FFF;}
div.JiaXiao div.Content img {max-width:97%;}

div.JiaXiao div.Content div.ImgList {text-indent:0;}
div.JiaXiao div.Content div.ImgList img {margin:15px auto;max-width:600px;}
div.JiaXiao div.Content div.jxfc {}
div.JiaXiao div.Content div.jxfc ul {margin:0;padding:0;}
div.JiaXiao div.Content div.jxfc ul li {position: relative;float:left;margin:20px;padding:0;width:240px;height:210px;display:block;text-align:center;vertical-align: middle;border: 0px solid #eee;overflow: hidden;color:#555;}
div.JiaXiao div.Content div.jxfc ul li p {margin:0 0 7px 0;padding:0;width:240px;height:180px;display:block;text-align:center;vertical-align: middle;overflow: hidden;}
div.JiaXiao div.Content div.jxfc ul li p img {max-width:240px;vertical-align:middle;margin:0;cursor:pointer;}
div.JiaXiao div.Content div.jxfc ul li b {font-weight:100;}

div.JiaXiao div.Content div.bmxz,div.JiaXiao div.Content div.bcxx {display:block;line-height:220%;font-size:16px;text-align:left;color:#333;}
div.JiaXiao div.Content div.bmxz p,div.JiaXiao div.Content div.bcxx p {text-indent:2em;}
div.JiaXiao div.Content div.bmxz a.WYBM {padding:12px 0;font-size:21px;margin:30px auto;display:block;width:160px;text-align:center;background:#FF5500;}
div.JiaXiao div.Content div.bmxz a.WYBM:hover {background:#FF3300;}

div.JiaXiao div.Content div.jxkc {display:block;line-height:220%;font-size:16px;text-align:left;margin:20px auto;}
div.JiaXiao div.Content div.jxkc ul {display:block;}
div.JiaXiao div.Content div.jxkc ul li {display:block;text-align:center;background:#FFF;font-size:12px;border-bottom:1px dotted #E9E9E9;padding:5px 0;color:#666;}
div.JiaXiao div.Content div.jxkc ul li.t {background:#FAFAFA;padding:7px 0;font-weight:bold;color:#3F3F3F;}
div.JiaXiao div.Content div.jxkc ul li b {display:inline-block;font-weight:100;width:22%;}
div.JiaXiao div.Content div.jxkc ul li u {display:inline-block;width:10%;}
div.JiaXiao div.Content div.jxkc ul li i {display:inline-block;width:15%;}
div.JiaXiao div.Content div.jxkc ul li em {display:inline-block;width:15%;}
div.JiaXiao div.Content div.jxkc ul li i.t {display:inline-block;width:22%;}
div.JiaXiao div.Content div.jxkc ul li u.b {display:inline-block;width:15%;}
div.JiaXiao div.Content div.jxkc ul li u.b a {background:#F36F20;color:#FFF;padding:7px 17px;font-weight:100;}
div.JiaXiao div.Content div.jxkc ul li u.b a:hover {background:#FF5500;}
div.JiaXiao div.Content div.jxkc ul li.t b {font-weight:bold;}

.vJXFC {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:9999;}
.vJXFC u {position:absolute;top:2%;right:2%;z-index:10050;display:block;border-radius:50%;border:2px solid #FFF;width:50px;height:50px;cursor:pointer;}
.vJXFC u i {margin-top:15px;display:block;width:19px;height:19px;background: url("/PIC/clo_6.gif") no-repeat;}
.vJXFC u:hover {background:#565656;background:#333;}
.vJXFC div.hdp {position:fixed;top:50%;left:50%;width:1080px;height:600px;margin-top:-300px;margin-left:-540px;z-index:10020;display:block;}
.vJXFC p.pn {position:fixed;top:0;width:100%;height:100%;z-index:10030;}
.vJXFC p.pn b {display:block;position:absolute;top:40%;opacity:0.9;width:100px;height:100px;margin:0;padding:0;text-align:center;cursor:pointer;}
.vJXFC p.pn b i {font-size:100px;margin:0;padding:0;color:#FFF;}
.vJXFC p.pn b.pre {left:5%;right:auto;}
.vJXFC p.pn b.next {right:5%;left:auto;}
.vJXFC p.pn b.pre:hover,.vJXFC p b.next:hover {opacity:0.7;background:#565656;border-radius:5px;}


.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	margin:0;	
	display:block;height:100%;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	display:block;height:100%;
}
.swipe-wrap > .wrap {
	float: left;
	width: 100%;
	position: relative;
	margin:0;
}
.wrap {display:block;height:100%;}
.wrap img {max-width:100%;max-height:97%;;border:5px solid #FFF;}
.swipe_count {display:block;width:80%;margin:0 auto;padding:15px 0;position:fixed;left:0;right:0;bottom:3%;color:#FFF;font-size:15px;font-family:"arial";text-align:right;}
.swipe_count b {font-size:36px;font-weight:100;padding:0 5px;}
.swipe_count i {padding:0 5px;}
.swipe_count em {position:absolute;left:0;top:5px;padding:0 9px;width:75%;font-family:'Microsoft YaHei','SimSun';line-height:30px;overflow:hidden;text-align:left;font-size:17px;}

#container {width:300px;height:300px;border:1px solid #E8E8E8;margin:20px 0;}
.H12 {line-height:220%;font-size:16px;text-align:left;color:#333;}
.H12 h1 {display:block;font-weight:100;font-size:18px;text-align:center;line-height:220%;margin:2px 0 9px 0;}
.H12 h2 {display:block;font-weight:100;font-size:13px;text-indent:2em;line-height:220%;color:#555;}
/*cnt end*/


.why_me{ font-size:16px; color:#666666; margin:0 0 20px 0; border:1px solid #e8e8e8; padding: 20px 15px;text-align:left;background:#FFF;}
.why_me ul li { height:34px; width:200px; padding:23px 0 23px 72px; border-bottom:1px dotted #cccccc; font-family:'微软雅黑';font-size:12px;color:#a1a1a1;text-align:left;}
.why_me ul li b {display:block;font-size:16px;font-weight:100;color:#666666;}
.li-why-me-1 { background: url(/PIC/pingjia.gif) 16px 24px no-repeat;}
.li-why-me-2 { background: url(/PIC/xinyong.gif) 16px 24px no-repeat;}
.li-why-me-3 { background: url(/PIC/koubei.gif) 16px 24px no-repeat;}
.li-why-me-4 { background: url(/PIC/jiaoxue.gif) 16px 24px no-repeat; border-bottom: none !important;}
.li-why-me-5 { background: url(/PIC/whyme_icon1.gif) 16px 24px no-repeat;}
.li-why-me-6 { background: url(/PIC/whyme_icon2.gif) 16px 24px no-repeat;}
.li-why-me-7 { background: url(/PIC/whyme_icon3.gif) 16px 24px no-repeat;}
.li-why-me-8 { background: url(/PIC/whyme_icon4.gif) 16px 24px no-repeat; border-bottom: none !important;}

/*	bmb begin	*/
div.zxbm_ts {display:block;width:298px;height:398px;background: url("/PIC/zxbm.gif?12.gif") no-repeat;border:1px solid #D8D8D8;text-align:left;}
div.zxbm_ts p {display:block;font-size: 18px; line-height: 28px;  height: 32px;  overflow: hidden;margin:17px 15px 12px 120px;padding:0;}
div.zxbm_ts i {display:block;color: #999; line-height: 22px;height: 42px;  overflow: hidden;margin:0px 15px 0 120px;padding:0;}
div.zxbm_ts u {display:block;color: #999;font-size:14px;margin:0 0 0 90px;}
div.zxbm_ts u.xm {margin-top:35px;}
div.zxbm_ts u.dh {margin-top:32px;}
div.zxbm_ts u.bz {margin-top:32px;}
.vBMB {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:9999;display:none;}
.vBMB div {position:fixed;top:50%;left:50%;width:700px;height:500px;margin-top:-250px;margin-left:-350px;z-index:10020;display:block;border-radius:3px;background:#FFF;overflow:hidden;}
.vBMB div dl {}
.vBMB div dl dt {width: 272px;height: 500px;background: url("/PIC/left_img.gif?12.gif") no-repeat;float: left;}
.vBMB div dl dd {width: 400px;float: right;}
.vBMB div dl dd ul {display:block;}
.vBMB div dl dd li {display:block;margin:17px 0;font-family:'微软雅黑';text-align:left;}
.vBMB div dl dd li i {display:block;float:left;width:60px;text-align:right;color: #6c6c6c;font-size:12px;padding-top:5px;}
.vBMB div dl dd li span {margin-left:10px;font-size:12px;}
.vBMB div dl dd li span input[type="text"] {padding:7px;width:230px;font-family:'宋体';}
.vBMB div dl dd li span textarea {padding:7px;width:230px;height:90px;font-family:'宋体';}
.vBMB div dl dd li span em {color:#FF2200;margin-left:15px;font-family:'宋体';}
.vBMB div dl dd li.t {margin:9px 0;}
.vBMB div dl dd li.t i {padding-top:0;}
.vBMB div dl dd li.t span {color: #3c3c3c;font-family:'宋体';}
.vBMB div dl dd li span a.btnTJBM {background:#FF5500}
.vBMB div dl dd li span a:hover.btnTJBM {background:#FF3300}
.vBMB div p {display:block;width:400px;height:98px;background: url("/PIC/top_img.gif") no-repeat;}
.vBMB div b {display:block;font-weight:100;color:#565656;}
.vBMB div b a {color:#3165FF;}
.vBMB div u {position:absolute;top:0;right:0;z-index:10050;display:block;width:50px;height:50px;cursor:pointer;}
.vBMB div u i {display:block;width:16px;height:16px;background: url("/PIC/clo_1.gif") no-repeat;margin:12px 12px 0 0;float:right;opacity: 0.6;}
.vBMB div u:hover i {opacity: 1;}
#bmb_kc {display:none;}
#bmb_nn {width:165px;margin-right:12px;}
#bmb_xb {padding:7px;}
/*	bmb end	*/



/*index begin*/
.BoxArea {width:100%;text-align:left;font-family:微软雅黑;margin:7px auto 12px auto;display:block;border:1px solid #E5E5E5;background:#FFF;}
.BoxArea p {font-size:15px;color:#555;font-weight:bold;background:#F5F5F5;border-bottom:1px solid #E5E5E5;padding:5px 9px;}
.BoxArea a {}

.BoxP {}
.BoxP div {float:left;width:12%;font-family:微软雅黑;font-size:14px;color:#FF6F3D;padding:9px;line-height:180%;}
.BoxP div a {padding:3px 3px 3px 15px;color:#6F6F6F;}
.BoxP div a:hover {padding:3px 3px 3px 15px;color:#FF6F3D;}
.BoxP div.BoxP2 {width:35%;}
.BoxP div.BoxP3 {width:30%;}
.BoxP div a.hot {color:#FF6F3D;font-weight:bold;}
/*index end*/


.Page {margin:0 auto;text-align:center;margin:22px auto 12px auto;display:block;background:#FFF;padding:17px 0;}
.Page p a {display:inline-block;background:#FFF;padding:7px;min-width:26px;border:1px solid #E6E9ED;margin-left:-1px;font-size:14px;font-family:微软雅黑;font-weight:bold;color:#656D78;text-decoration:none;}
.Page p a:hover {background:#F5F7FA;}
.Page p a.pl {border:1px solid #E6E9ED;border-radius:0.5em 0 0 0.5em;}
.Page p a.pr {border:1px solid #E6E9ED;border-radius:0 0.5em 0.5em 0;}
.Page p b a,.Page p b a:hover {background:#019875;background:#21A193;color:#FFF;cursor:default;}



div.yqlj {border:1px solid #E7E7E7;padding:0px;margin:0px;font-family:"微软雅黑";text-align:left;}
div.yqlj dl {height:22px;border-bottom:1px solid #E7E7E7;background:#FAFAFA;padding:9px;margin:0px;}
div.yqlj dl dt {float:left;font-size:14px;font-weight:bold;width:45%;}
div.yqlj dl dd {float:right;font-size:12px;margin-top:2px;text-align:right;width:40%;}
div.yqlj dl dt i {font-weight:100;font-size:12px;font-weight:100;}
div.yqlj ul {background:#FFF;line-height:26px;padding:12px;}
div.yqlj ul a {padding:3px 22px 3px 0;color:#333;line-height:22px;}



/*		考场css	begin	*/
.H12 i.kssm {display:block;font-size:14px;color:#666;margin:0 0 9px 0;text-align:center;}

p.ks_menu {border-top:1px dashed #AAAAAA;border-bottom:1px dashed #AAAAAA;margin:20px 0 0 0;padding:16px 0;text-align:center;}
p.ks_menu:hover {background:#FCFCFC;}
p.ks_menu a {font-size:16px;margin:16px 22px;}
p.ks_menu b {margin:16px 22px;color:#3165FF;font-size:16px;cursor:pointer;}
p.ks_menu b:hover {text-decoration: underline;color:#FF6600;}

div.Exam {}
div.Exam ul {}
div.Exam ul li {display:block;background:#FFFFFF;border:0;border-bottom:1px dashed #AAAAAA;margin:0;padding:20px 0;text-align:left;font-family:"arial","微软雅黑";position:relative;}
div.Exam ul li:hover {background:#FCFBFB;}
div.Exam ul li i {display:block;position:absolute;top:25px;left:10px;width:60px;height:47px;padding-top:13px;font-size:36px;line-height:36px;font-style: normal;border-radius:50%;background:#00BBAB;color:#FFFFFF;text-align:center;cursor:pointer;}
div.Exam ul li i.i100 {font-size:30px;}
div.Exam ul li strong {display:block;font-size:17px;font-weight:100;color:#222;line-height:26px;padding:7px 5px 7px 20px;margin:0 0 0 90px;}
div.Exam ul li strong u {display:block;margin:7px -5px -7px -20px;padding-bottom:5px;text-decoration: none;text-align:left;}
div.Exam ul li strong u em {display:block;width:150px;font-size:12px;padding:2px;text-align:center;font-style: normal;color:#FF0000;color:#FFF;background:#3EBA30;margin:0 auto;margin-top:5px;}
div.Exam ul li strong u img {display:block;margin:17px auto 0 20px;max-width:95%;max-height:180px;cursor:pointer;}
div.Exam ul li strong u img.max {max-width:99%;max-height:99%;}
div.Exam ul li b {display:block;font-size:16px;font-weight:100;color:#333;margin:0 0 0 90px;padding:12px 50px;line-height:26px;cursor:pointer;background:url("/PIC/i_H.png") no-repeat left center;position:relative;}
div.Exam ul li b.sel {font-weight:100;color:#000;background:#E6FAF8;background:#FCFCFC url("/PIC/i_S.png") no-repeat left center;}
div.Exam ul li b.K {color:#1FB00C;background:#F5FDF4 url("/PIC/i_K.png") no-repeat left center;}
div.Exam ul li b.n {background:url("");padding-left:20px;cursor:default;}
div.Exam ul li b.n em {font-style: normal;color:#333333;}
div.Exam ul li b.n em.n {color:#777777;}
div.Exam ul li b img {position:absolute;top:12px;right:15px;}

div.ExamResult {display:none;margin:20px 0;background:#FFFFFF;font-size:20px;line-height:26px;font-family:"arial","微软雅黑";color:#555555;padding:7px 0;text-align:left;box-shadow: 0px 1px 1px #E5E5E5;border:1px solid #E5E5E5;border-top:1px solid #EBEAE8;border-bottom:1px solid #CFCDCA;border-radius:3px;}
div.ExamResult p {float:left;width:170px;height:170px;margin:7px 75px 7px 50px;}
div.ExamResult p.p100 {background:#FCFCFC url("/PIC/ER_100.gif") no-repeat center center;}
div.ExamResult p.pY {background:#FCFCFC url("/PIC/ER_Y.gif") no-repeat center center;}
div.ExamResult p.pN {background:#FCFCFC url("/PIC/ER_N.gif") no-repeat center center;}

div.ExamBtn {display:block;padding:0;margin:55px;}
div.ExamBtn u {font-size:18px;font-family:"微软雅黑";color:#FFFFFF;text-decoration:none;padding:9px 18px;margin:0 50px;text-align:center;border-radius:0px;cursor:pointer;}
div.ExamBtn u.btnJJ {background:#3EBA30;}
div.ExamBtn u.btnCJ {background:#00ACFF;}
div.ExamBtn u:hover {opacity: 0.85;}

.stfxBtn {display:block;width:95px;padding:0px;text-align:center;background:#00ACFF;background: rgba(62,186,48,0.8);color:#FFF;position:absolute;top:0;left:50%;margin-left:120px;cursor:pointer;display:none;}
.stfxBtn:hover {background: rgba(62,186,48,1);}
.stfxBtn a {display:block;color:#FFF;text-decoration: none;padding:7px;}

#JDK {padding:0;width:300px;margin:20px 0 0 20px;position:fixed;bottom:auto;top:auto;right:auto;left:auto;z-index:1000;margin:0 auto;}
#JDK div {float:left;text-align:left;}
#JDK div table tr td {font-size:11px;}


#EOVArea {display:block;margin:0;padding:0;margin-bottom:18px;}
#EOVArea p {display:block;margin:10px 0 7px 0;padding:0;text-align:left;color:#777;}
#EOVArea p b {font-size:22px;font-weight:600;color:#FF0000;font-family:arial;}
#EOVArea p b i {font-family:arial,微软雅黑;font-size:20px;font-weight:100;color:#FF0000;font-style:normal}
#EOVArea div table {margin:10px 0 10px 0;padding:0;}
#EOVArea div table tr td b {width:15px;height:15px;border:1px solid #906000;font-size:2px;font-weight:100;display:block;}
#EOVArea div {display:block;width:100%;}
#EOVArea div span {width:60px;display:block;float:left;font-size:14px;font-family:"微软雅黑";color:#FFFFFF;padding:5px 9px;margin:5px 20px;text-align:center;cursor:pointer;}
#EOVArea div span.btn_JJ {background:#3EBA30;opacity: 1;}
#EOVArea div span:hover.btn_JJ {opacity: 0.85;}
#EOVArea div span.btn_CJ {background:#00ACFF;opacity: 1;}
#EOVArea div span:hover.btn_CJ {opacity: 0.85;}
#EOVArea div.EOVbtn {margin-left:30px;}

#ExamOrderView			{width:300px;height:105px;border-left:1px solid #906000;border-bottom:1px solid #906000;}
.ExamOrderViewWait,
.ExamOrderViewHover,
.ExamOrderViewVisited,
.ExamOrderViewErr,
.ExamOrderViewNone		{width:29px;height:20px;float:left;text-align:center;font-size:11px;font-family:arial;border-top:1px solid #906000;border-right:1px solid #906000;overflow:hidden;white-space:nowrap;}
.ExamOrderViewWait		{background-color:#FEFEFE;color:#000000;cursor:pointer;}
.ExamOrderViewHover		{background-color:#C08205;color:#FFFFFF;font-weight:bold;cursor:default;}
.ExamOrderViewVisited	{background-color:#EFC036;background-color1:#E6B036;background-color1:#FFF036;color:#000000;cursor:pointer;}
.ExamOrderViewErr		{color:#FF0000;cursor:pointer;text-decoration:line-through;}

.appAD	{display:block;margin:20px auto;}

.ksMenu {display:block;margin:70px 0 50px 100px;}
.ksMenu a {background:#00BBAB;background:#00B9BD;font-family:"微软雅黑";font-size:13px;padding:7px 17px;color:#FFF;text-align:center;margin:0 7px;}
.ksMenu a.h,.ksMenu a:hover {border-radius:2px;text-decoration: none;background:#0B9C7A;background:#F87735;}


.appdown {background: #FF6600;color: #FFF;font-family: "微软雅黑";font-size: 15px;cursor: pointer;position: absolute;top: -9px;right: 2px;padding: 7px 17px;}
.appdown:hover {background: #FF4400;}


/*		考场css	end	*/



dl.xckiss {display:block;border:1px solid #E7E7E7;margin:0 0 20px 0;background:#FFF;text-align:left;font-family:"Microsoft YaHei";}
dl.xckiss dt {display:block;font-size:16px;padding:12px 12px;border-bottom:1px solid #E7E7E7;color:#333;background:#FEFDFE;}
dl.xckiss dt a {color:#333;text-decoration: none;}
dl.xckiss dt a:hover {color:#FF6600;}
dl.xckiss dd {display:block;padding:9px 0;margin:0;}
dl.xckiss dd a {display:block;padding:9px 12px;text-decoration: none;}
dl.xckiss dd a:hover {background:#fafafa;}
dl.xckiss dd a img {display:block;width:60px;float:left;border-radius:10px;}
dl.xckiss dd a b {display:block;float:left;width:198px;margin:10px 0 0 10px;font-size:16px;font-weight:100;color:#333;white-space:nowrap;overflow:hidden;}
dl.xckiss dd a b i {display:block;color:#999;font-size:12px;margin-top:9px;font-family:"simsun";}

dl.xckiss dd.zxxx strong {display:block;padding:9px 12px;text-decoration: none;font-weight:100;cursor:pointer;}
dl.xckiss dd.zxxx strong:hover {background:#fafafa;}
dl.xckiss dd.zxxx strong img {display:block;width:45px;float:left;border-radius:10px;}
dl.xckiss dd.zxxx strong b {display:block;float:left;width:216px;margin:3px 0 0 10px;font-size:15px;font-weight:100;color:#333;white-space:nowrap;overflow:hidden;}
dl.xckiss dd.zxxx strong b i {display:block;color:#999;font-size:12px;margin-top:7px;font-family:"simsun";}


dl.xckiss dt b {border-left:2px solid #FF6600;padding-left:9px;margin-left:-13px;}
dl.xckiss dt i {float:right;}
dl.xckiss dt i a {font-size:12px;}
dl.xckiss dd ul {margin:0 7px;}
dl.xckiss dd ul li {border-top:1px dotted #f0f0f0;font-size:14px;padding:12px 7px;color: #5e5e5e;}
dl.xckiss dd ul li.t {border-top:0;background:#FCFDFE;}
dl.xckiss dd ul li a:hover {background:none;}

dl.xckiss dd ul.kclist li:hover {background:#FCFDFE;}
dl.xckiss dd ul.kclist li b {display:inline-block;width:140px;font-weight:100;}
dl.xckiss dd ul.kclist li b a {display:block;padding:0px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:0 0 -5px 0;}
dl.xckiss dd ul.kclist li i {display:inline-block;width:77px;text-align:right;font-size:12px;}
dl.xckiss dd ul.kclist li u {display:inline-block;float:right;}
dl.xckiss dd ul.kclist li a {padding:0;}
dl.xckiss dd ul.kclist li u a {color:#008000;padding:2px;}
dl.xckiss dd ul.kclist li u a:hover {color:#FFF;background:#FF6600;font-size:12px;padding:2px 5px;}
dl.xckiss dd ul.kclist li.t i {font-size:14px;text-align:center;}
dl.xckiss dd ul.kclist li i em {font-size:14px;color:#FF2200;margin-right:5px;}


/*	ksyy begin	*/
#ksyyForm {display:block;width:100%;margin:0 auto 0 auto;font-family:"微软雅黑";font-size:19px;position:relative;}
#ksyyForm strong {display:block;font-weight:100;font-size:21px;text-align:center;margin:19px 0 9px 0;}
#ksyyForm strong a {color:#000;text-decoration: none;}
#ksyyForm dl {display:block;width:500px;margin:0 auto;}
#ksyyForm dl dt {display:inline-block;margin:19px 0;width:130px;text-align:right;}
#ksyyForm dl dd {display:inline-block;margin:19px 0;width:330px;}
#ksyyForm dl dd input {width:300px;padding:9px;font-size:19px;}
#ksyyForm dl dd p {display:block;width:90px;font-size:19px;color:#FFF;background:#008000;border-radius:3px;padding:9px 27px;text-align:center;cursor:pointer;margin:0;}
#ksyyForm dl dd p:hover {background:#017501;}

#ksyyMore {text-align:center;padding:16px 0;}
#ksyyMore a {display:inline-block;font-size:16px;line-height:260%;font-family:"微软雅黑";padding:0 22px;}
/*	ksyy end	*/
/**问答css begin**/
.contbotfoot p{ text-indent:2em; line-height:25px;}
.contbotfoot .sectit{ border-bottom:2px solid #F3F3F3; margin:0 0 30px 0; width:100%; position:relative; height:40px;}
.contbotfoot .sectit h3{ position:absolute; bottom:-1px; left:0; border-bottom:2px solid #2eb6a8; font-size:14px; width:90px; text-align:center; padding-bottom:5px;}
.contbotfoot .bmxz p{ background-color:#F9F9F9; padding:15px; border-radius:3px;}
.AdoptionList_bot_item{width: 100%;overflow: hidden;margin: 20px 0 0; font-size:14px;border-bottom: 1px solid rgba(216,216,216,.5);}
.pic{display: inline;float: left;display: block;}
.pic img{ width: 45px;height: 45px;-webkit-border-radius: 50%;-moz-box-shadow: 50%;border-radius: 50%;}
.AdoptionList_bot_item dl{display: inline;float: left;width: 753px;margin-left: 20px;padding-bottom: 20px;}
.AdoptionList_bot_item dt{color: #9d9d9d; margin-bottom:10px;text-align:left}
.AdoptionList_bot_item dt span{color: #9d9d9d;margin-left: 10px;}
.AdoptionList_bot_item dd{ line-height:22px;color:#2c2c2c;text-align:left}
.AdoptionList_bot_item dd a span{margin-left: 20px;}
.AdoptionList_bot_item dd a{color: #9d9d9d;margin-top: 10px;}
.AdoptionList_bot_item dd label{ margin:0 30px 0 0; color:#777777; line-height:20px;}
.AdoptionList_bot_item dd label img{vertical-align:-2px; height:14px;}
.AdoptionList_bot_item dd.hui{ padding:8px 0 8px 8px; background-color:#F9F9F9; color:#1E91E1; margin-top:30px;}
.AdoptionList_bot_item dd.star{ margin:25px 0 0; line-height:15px; width:100%;}

.AdoptionList_bot_item .Reply{color:#2eb6a8;margin-top:10px}
.input{ width:100%; overflow:hidden;}
.input i { color: #cdcdcd; cursor: pointer; display: block;float: left;font-size: 18px;height: 18px;line-height: 19px;margin: 8px 0 0 5px;overflow: hidden; width: 18px;}
.input i.hot{ color:#00C3B6;}
.input input[type="text"]{ margin:0 20px 10px 0;background-color: transparent;resize: none;border: 1px solid #cbcbcb;box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);padding: 8px; float:left;}
.pl textarea{border: 0 none;background-color: transparent;width: 330px;resize: none;border: 1px solid #cbcbcb;padding: 10px;height: 85px;box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);display: block;}
.pl textarea#Intro{width: 440px;}
.pl input[type="submit"]{background-color: #2eb6a8;border: 0 none;color: #FFF;width: 138px;font-size: 14px;height: 35px;text-align: center;cursor: pointer;bottom: 0; display: block; margin-top: 10px; padding-top: -3px;}
.ListPage{ margin:20px auto; overflow:hidden; }
.ListPage p{ text-align:center; text-indent:0; line-height:normal;}

.ListPage a{color: #777777;box-shadow: 0 1px 1px rgba(0,0,0,.1);background-color: #fff; padding:10px 15px;border-radius: 4px;display: inline-block; margin:0 2px;box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1) inset;}
.ListPage b a{ background-color: #21a193; color:#ffffff; font-weight:100; box-shadow: 0px 0px 1px 1px rgba(0,201,189,.1) inset;}
.ListPage a:hover{ background-color: #21a193; color:#ffffff;box-shadow: 0px 0px 1px 1px rgba(0,201,189,.1) inset;}
/**问答css end**/