<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsjbc.vdtts.dao.mapper.CarMapper">

<!--    刘海-->
    <select id="findCarCount" parameterType="int" resultType="int">
        select count(*) from tb_car where c_school_id = #{cSchoolId}
    </select>

    <select id="findCarManageList" parameterType="int" resultType="com.lsjbc.vdtts.entity.Car">
        select c.*,t.t_name from tb_car c left join  tb_teacher t on c.c_teacher_id = t.t_id where c.c_school_id = #{cSchoolId}
    </select>

    <update id="updateCarInfo" parameterType="com.lsjbc.vdtts.entity.Car">
        update tb_car set c_teacher_id = #{cTeacherId} where c_id = #{cId}
    </update>

    <delete id="deleteCar" parameterType="int">
        delete from tb_car where c_id = #{cId}
    </delete>

    <insert id="addCar" parameterType="com.lsjbc.vdtts.entity.Car">
        insert into tb_car(c_school_id, c_logo, c_model, c_color, c_number) values (#{cSchoolId},#{cLogo},#{cModel},#{cColor},#{cNumber})
    </insert>
<!--    刘海&#45;&#45;结束-->

    <!--    陈竑霖-->
    <!--    车辆表-->
    <select id="finecarlist" resultType="com.lsjbc.vdtts.entity.Car">
        select car.*,sch.s_name schoolName from tb_car car,tb_school sch
         where car.c_school_id=sch.s_id
        <if test="e.cNumber!=null and e.cNumber!=''"> and car.c_number like concat('%',#{e.cNumber},'%')</if>
        limit ${start},#{pageSize}
    </select>
    <!--分页-->
    <select id="carlistcount"  resultType="int" parameterType="com.lsjbc.vdtts.entity.Car" >
    select count(c_id) from tb_car
    <where>
      <if test="e.cNumber!=null and e.cNumber!=''"> and c_number like concat('%',#{e.cNumber},'%')</if>
    </where>
    </select>
</mapper>