<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsjbc.vdtts.dao.mapper.SchoolMapper">

<!--陈竑霖-->
    <!--    连表查询所属驾校的信息-->
    <select id="schoolList" resultType="com.lsjbc.vdtts.entity.School">
        select * from tb_school
        <where>
         <if test="e.sName!=null and e.sName!=''"> and s_name like concat('%',#{e.sName},'%')</if>
            <if test="e.sLock!=null and e.sLock!=''"> and s_lock = #{e.sLock}</if>
            <if test="e.sVerification!=null and e.sVerification!=''"> and s_verification = #{e.sVerification}</if>
            <if test="e.sRecruit!=null and e.sRecruit!=''"> and s_recruit = #{e.sRecruit}</if>
        </where>
         limit ${start},#{pageSize}
    </select>
<!--分页-->
    <select id="schoolcount"  resultType="int" parameterType="com.lsjbc.vdtts.entity.School" >
        select count(s_id) from tb_school
        <where>
            <if test="e.sName!=null and e.sName!=''"> and s_name like concat('%',#{e.sName},'%')</if>
            <if test="e.sLock!=null and e.sLock!=''"> and s_lock = #{e.sLock}</if>
            <if test="e.sVerification!=null and e.sVerification!=''"> and s_verification = #{e.sVerification}</if>
            <if test="e.sRecruit!=null and e.sRecruit!=''"> and s_recruit = #{e.sRecruit}</if>
        </where>
    </select>
</mapper>